{:paths ["src"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo"}}
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/core.async {:mvn/version "1.3.618"}
        aleph/aleph {:mvn/version "0.4.7-alpha5"}
        byte-streams/byte-streams {:mvn/version "0.2.5-alpha2"}
        manifold/manifold {:mvn/version "0.1.9-alpha3"}
        io.replikativ/datahike {:mvn/version "0.5.1504"}

        com.formdev/flatlaf {:mvn/version "2.1"}
        com.formdev/flatlaf-extras {:mvn/version "2.1"}
        com.miglayout/miglayout-swing {:mvn/version "5.3"}}

 :aliases
 {:Ripley {:extra-deps {Ripley/Ripley {:git/url "https://github.com/Empire-Strikes-Back/Ripley"
                                       :sha "becd2573ab55d42933134d346bc46cdd8fa08c04"}}}

  :Genie {:extra-deps {Genie/Genie {:git/url "https://github.com/Empire-Strikes-Back/Genie"
                                    :sha "fe9200d223e3a5c79e88dfa17bc2697c09dae70e"}}}}}